# Ignore local configuration and sensitive files

# Traefik
config/traefik/acme.json

# TinyAuth
config/tinyauth/database.sqlite
config/tinyauth/tinyauth.yml

# Cloudflared
.cloudflared/

# Yethos environment file
.yethos.env